.profile__data {
  display: flex;
}

@media screen and (max-width: 812px) {
  .profile__data {
    width: 282px;
    flex-direction: column;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 584px) {
  .profile__data {
    flex-direction: column;
    padding-bottom: 10px;
  }
}
