.popup-image__button-close {
  width           : 40px;
  position        : absolute;
  top             : 0;
  right           : 0;
  background-color: transparent;
  border          : none;
  cursor          : pointer;
  opacity:1;
  transition:opacity .3s;
}

.popup-image__button-close:hover{
  opacity:.6;
}

@media screen and (max-width: 594px) {
  .popup-image__button-close {
    width: 26px;
    right: 25px;
  }
}