.profile__presentation {
  display        : flex;
  flex-direction : column;
  justify-content: center;
}

@media screen and (max-width: 812px) {
  .profile__presentation {
    align-items: flex-start;
    width: 400px;
  }
}

@media screen and (max-width: 584px) {
  .profile__presentation {
    width      : 100%;
    align-items: center;
  }
}


